@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1vmax;
	line-height: 1.9vmax;
	color:#d8d8d8;
	margin: 0;
	padding: 0;
}

.wrap {
	width: 76vw;
	margin:0 auto;
	position:relative;
}

#header {
	width: 100%;
	height:100vh;
	position: relative;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(img/bit11.jpg);
	background-color: #3a25b16e;
  	background-blend-mode: overlay;
	/* padding-top: 7vh; */
	padding-bottom: 8vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;

}

.top-header li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}


.top-header a {
	color: #fff;
	text-transform: uppercase;
}
.top-header a:hover {
	color:#96c0ff;
}

nav {
	padding:10px 0;
	background-color: #c5c5c563;
}

nav a {
	text-decoration: none;
	margin: 0 2em;
	white-space:nowrap;
	
}

.bottom-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.9vmax;
	height: 100%;
}

.bottom-header a {
	text-decoration: none;
}

.bottom-header h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 4em;
	text-align: center;
	margin: 0;

}

.bottom-header p {
	font-weight: 500;
	font-size: 2em;
	margin-top: 1em;
	line-height: 2;
}

.bottom-header img {
	height: 15em;
	margin-bottom: 2em;
}

.botton {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(64,199,129);
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
	text-transform: uppercase;
}

div.botton:hover {
	background-color:#0a6f53;
}