@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&subset=cyrillic');


body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vmax;
	line-height: 1.9vmax;
	color:#d8d8d8;
	margin: 0;
	padding: 0;
}

.wrap {
	width: 76vw;
	margin:0 auto;
	position:relative;
}

.header {
	width: 100%;
	height: 85vh;
	position: relative;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(img/wall2.jpg);
	padding-top: 7vh;
	padding-bottom: 8vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;

}

.top-header li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.top-header a {
	color: #fff;
	text-transform: uppercase;
}

nav li {
	list-style:none;

}

nav a {
	text-decoration: none;
	margin: 0 60px;
	white-space:nowrap;
}


.middle-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}




.project {
	height: 220px;
	width: 260px;
	margin: 1.5em;
	border-radius: .5em;
	display: flex;
	justify-content: center;
	align-items: flex-end;	
	transition-property: transform;
	transition-timing-function: ease;
	transition-duration: .5s;
}


.project:hover {
	transform: scale(1.1);

}

.project a {
	text-decoration: none;
	color: #fff;
}


.git {
	background-color: #181717;
	background-image: url('img/github.svg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 50px;
}

.inst {
	background-color: #e4405f;
	background-image: url('img/instagram-logo.svg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 50px;
}

.vk {
	background-color:#597da3;
	background-image: url('img/vk.svg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 50px;
}


.bottom-header {
	height: 10vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items:center;
	border: 1px solid #9c9c9c40;
	border-radius: 4px;
	
}

.bottom-header h1 {
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;

}

.contacts {
	width: 100%;
	height: 85vh;
	position: relative;
	background-color: darkblue;
	padding-top: 7vh;
	padding-bottom: 8vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}



