@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&subset=cyrillic');


body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vmax;
	line-height: 1.9vmax;
	color:#fff;
	margin: 0;
	padding: 0;

}

.border {
	border: 1px solid #9c9c9c40;
	border-radius: 5px;
}

.border:hover {
	border-color: #96c0ff;
}

.wrap {
	width: 76vw;
	margin:0 auto;
	position:relative;
}

.header {
	width: 100%;
	height: 90vh;
	position: relative;
	background-image: url(img/wall.jpg);
	background-color: #313131d1;
	background-blend-mode: overlay;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center ;
	padding-top: 2vh;
	padding-bottom: 8vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;


}

.top-header li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.top-header a {
	color: #fff;
	text-transform: uppercase;
}


.top-header a:hover {
	color:#96c0ff;
}

.middle-header {
	transform: translate(-50% -50%);
	padding: 10px 20px;
}

.middle-header h1 {
	text-align: right;
	text-transform: 
}


nav a {
	text-decoration: none;
	margin-left:30px;
	white-space:nowrap;
	font-size: .7em;
}


.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

.boxes a {
	text-decoration: none;
}


.project {
	height: 200px;
	width: 260px;
	margin: 1.5em;
	border-radius: .5em;
	display: flex;
	justify-content: center;
	align-items: flex-end;	
	transition-property: transform;
	transition-timing-function: ease;
	transition-duration: .5s;
}


.project:hover {
	transform: scale(1.1);

}

.project p{
	text-decoration: none;
	color: #fff;
}


.git {
	background-color: #181717;
	background-image: url('img/github.svg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 50px;
}

.inst {
	background-color: #e4405f;
	background-image: url('img/instagram-logo.svg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 50px;
}

.vk {
	background-color:#366dbf;
	background-image: url('img/vk.svg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 50px;
}

.telegram {
	background-color:#0088cc;
	background-image: url('img/telegram-logo.svg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 50px;
}

.bottom-header {
	height: 10vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items:center;
	
}



.bottom-header h1 {
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin-left: 20px;

}

/*.bottom-header h1::before {

	background: url('img/browser.svg') no-repeat;
	content: "";
    display: block;
    width: 2em;
    height: 1.5em;
    float: left;
    margin: 0 6px 0 0;
}*/


.about-me {
	background-color: #fff;
	position: relative;
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 7vh;
	padding-bottom: 8vh;
}

.about-me-text  {
	color: #333;
	padding: 30px 50px;
	border: 1px solid #b5aaaa54;
	border-radius: 10px;
	margin-bottom: 60px;
}

.about-me-text:hover {
	box-shadow: 5px 5px 20px 0px #d0d0d0;
}

.about-me h1 {
	color: #333;
	text-align: center;
	font-weight: 600;
	font-size: 45px;
}


blockquote {
background: linear-gradient(135deg, #f2b7fd6b 50%, #8894ef94 50%);
text-align: center;
position: relative;
color: #49152C;
padding: 30px 50px;
margin: 0;
border-radius: 4px;
}

blockquote p {
font-size: 20px;
margin-top: 30px;
}

blockquote p:before {
content: "\201C";
font-size: 100px;
color: #EA6844;
font-family: serif;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
}


blockquote:hover {
	box-shadow: 5px 5px 20px 0px #d0d0d0;
}


#portfolio {
	background-color: #f7f5f5;
	position: relative;
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 7vh;
	padding-bottom: 8vh;
}



#portfolio h1 {
	color: #333;
	text-align: center;
	font-weight: 600;
	font-size: 45px;
}




.portfolio-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px;

}


.portfolio-proj {
	height: 20em;
	width: 32em;
	margin: 1.5em;
	border-radius: .5em;
	display: flex;
	justify-content: center;
	align-items: flex-end;	
	transition-property: transform;
	transition-timing-function: ease;
	transition-duration: .5s;
	box-shadow: 5px 5px 20px 0px #d0d0d0;
}


.portfolio-proj:hover {
	transform: scale(1.1);

}

.waxom {
	background: url('img/waxom.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}

.fitness {
	background: url('img/fitness.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}

.brandly {
	background: url('img/brandly.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #80808080;
}







.contacts {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 7vh;
	padding-bottom: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.contacts-icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contacts-icons a {
	text-decoration:none;
}

.contacts-icons a:hover {
	text-decoration:underline;
	text-decoration-color: #1459c16b;
}


.contacts h2 {
	text-align: center;
	color: #6d6d6d;
	font-weight: 400;
}

.contacts-style {
	color: black;
	text-transform: uppercase;
	line-height: 1.2;
}

.red-line:hover{
	border-bottom: 2px solid #1459c16b;

}

.mail::before {
	background: url('img/mail.svg') no-repeat;
	content: "";
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.mobile::before {
	background: url('img/smartphone2.svg') no-repeat;
	content: "";
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
/* .google-form {
	display: flex;
	align-content: center;
	justify-content: center;
}
 */
