@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url(http://allfont.ru/allfont.css?fonts=open-sans-light-italic);
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
	margin: 0;
	padding: 0;

}

.section1 {
	background: url(' girl.png') ;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	background-size: cover;
/* добавить слой цвета на изображение */ 
	height: 932px;
	
	
}

.obolochka {
	width: 100%;
	background-color: #22253380;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.navigation {
	width: 1180px;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 450px;
	height: 40px;
	padding-left: 10px;
}

nav {
	width: 730px;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.section1-text {
	height: 860px;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}



.section1-text h1 {
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}


.section1-text h2 {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


.section1-text h3 {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: 10px;
}

.button {
	text-transform: uppercase;
	background: none;
	border: 2px solid white;
	height: 50px;
	width: 200px;
	color: white;
	margin-top: 50px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}



.section2 {
	height: 1140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* разобраться со стилями
/* .section2 h1 {
text-align: center;
	padding:60px 0px;
	font-family: 'Open Sans Light Italic', arial;
    font-size:35px;
    font-weight: 500;
 } */

.section2_title {
	width: 300px;
	height: 100px;
	font-family: 'Open Sans Light Italic', arial;
	font-size: 20px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 60px;

}


.section2-collection {
	height: 870px;
	width: 1180px;
}

.section2-collection-l1{
	height: 435px;
	width: 1180px;
	display: flex;
	justify-content: space-between;

}

.section2-collection-l2{
	height: 435px;
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.tovar {
	width: 370px;
	height: 420px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline:3px solid white; 
	outline-offset: -25px;

}


.section2-collection-l1-men {
	background: url('men.png');
	background-color: #45464e;
	background-blend-mode: overlay;
}

.section2-collection-l1-women {
	background: url('women.png');
	background-color: #45464e;
	background-blend-mode: overlay;	
}

.section2-collection-l1-watches {
	background: url('watches.png');
	background-color: #45464e;
	background-blend-mode: overlay;
}


.sales{
	width: 570px;
	height: 420px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 900;

}



.section2-collection-l1-sale1 {
	background: url('autum.png');
	background-color: #45464e;
	background-blend-mode: overlay;

}

.section2-collection-l1-sale2 {
	background: url('megasale.png');
	background-color: #45464e;
	background-blend-mode: overlay;
	
}

.line {
	border-top: 3px solid #dc0000;
	border-bottom: 3px solid #dc0000;
	padding: 10px 0px 10px 0px;
}


.Collection-names {
	color: white;
	font-family: 'Open Sans Light Italic', arial;
	font-weight: 300;
	font-size: 40px;
}


.section3 {
	height: 920px;
	background: url('trendWalp.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

}

.section3 h1 {
	font-family: 'Open Sans Light Italic', arial;
    font-size:35px;
    font-weight: 500;
}


.section3_item {
	height: 580px;
	width: 1200px;
	margin-bottom: 130px;
	background: url('jacket.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left;
	background-size: contain;
	display: flex;
	justify-content: flex-end;
}


.section3_text {
	height: 100%;
	width: 580px;
	position: relative;
}

.section3_text h1 {
	font-family: 'Lato', sans-serif;
	color: #dc0000;
	text-transform: uppercase;
	font-size: 30px;

}

.section3_text h4 {
	font-family: 'Open Sans', sans-serif;
	color: #777;
	font-size: 18px;

}


.section3_text p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #777;
}

.section3_sizes {
	height: 60px;
	width: 320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 100px;
}

.size_block {
	border: 1px solid #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	height: 60px;
	width: 65px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-around;
	align-items: center;

}


.section3_buttons {
	height: 55px;
	width: 320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 25px;
}

.button_block {
	border: 1px solid #333333;
	width: 150px;
	height: 100%;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;

}

.section3_line {
	border-top: 3px solid #dc0000;
	border-bottom: 3px solid #dc0000;
	padding: 15px 0;
}



.section4 {
	height: 1045px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}


.section4 h1 {
	font-family: 'Open Sans Light Italic', arial;
    font-size:35px;
    font-weight: 500;
	margin:65px 0;

}


.section4_blogs {
	width: 1180px;
	height: 780px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog {
	width: 575px;
	height: 780px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.blog1 {
	background: url('wizzard.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	background-size: contain;
}

.blog2 {
	background: url('girl2.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	background-size: contain;
}

.blog_text {
	height: 350px;
	width: 100%;
	position: relative;
}

.blog_text h1 {
	font-family: 'Lato', sans-serif;
	color: #dc0000;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	margin:0; 
}

.blog_text h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #777;
}

.blog_text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #9c9c9c;
}

.linehr {
	border: 1px solid #ecf0f1;
}

.blog_button {
	border: 1px solid #333333;
	width: 170px;
	height: 50px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 40px;
}


.section5 {
	height: 250px;
	background: url('subscribegirl.png');
	background-color: #222533b0;
	background-blend-mode: overlay;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section5 input {
	background: none;
	background-image: url('email.png');
	background-repeat:no-repeat;
	background-position:30px;
	border:1px solid white;
	padding-left:80px;
	width:775px;
	height:50px;
	font-size:14px;
	text-transform: uppercase;

}
 
.section5 label {
	background-color:#fff;
	border:none;
	color:black;
	margin-left:130px;
	height: 50px;
	width: 270px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight:  bold;
	font-size: 18px;
}


.section5 h1 {
	font-family: 'Open Sans', sans-serif;
	color: #ffffffbf;
	font-weight: 300;
	margin: 0;
	font-size: 18px;
}

.subscribe_bloks {
	height: 100px;
	width: 1170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.sub_block1 {
	height: 55px;
	width: 1170px;
	display: flex;
	justify-content: center;
}