@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');



body {
	background-color: #fff;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1vmax;
	line-height: 1.9vmax;
	color:black;
	margin: 0;
	padding: 2vh 0;
/*	background: url('textures/pic2.jpg');
	background-position: top left;
	background-attachment: fixed;
	background-size: cover;*/
}

a {
	color: black;
    display: inline-block;
    margin-left: 2px;
    text-decoration: none;
}

a::after {
	content: "";
	display: block;
	border: 4px solid #FFC107;
	margin-top: -6px;

}

p {
	font-size: 18px;
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.back-homepage:before {
	content: "←";
	font-size: 25px;
}

.back-homepage:after {
	content: "";
	display: block;
	border: 4px solid #FFC107;
	margin-top: -12px;
}
.main {
	width: 50vw;
	margin:0 auto;
	position:relative;
}

.graytext {
	color: gray;
}

.line-through {
	text-decoration: line-through;
}



li {
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	display: flex;
	align-items: center;
	list-style:none;

}

h3,h4,h5 {
	margin-bottom: 0;
	margin-top: 0;
}


.done:before {
	content: "✔ ";
	color: white;
    background: #4CAF50;
	border: 1px solid gray;
	display: inline-block;
	text-align: center;
	border-radius: 16px;
	margin: 5px 10px;
	line-height: 40px;
	width: 40px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dont:before {
	content: " •••";
	color: black;
	background: rgb(255, 246, 165);
	border: 1px solid gray;
	border-radius: 16px;
	margin: 5px 10px;
	line-height: 40px;
	width: 40px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* ------ ---тут мобильные--- ----- */

@media screen and (max-width: 1080px) {

.main {
	width: 90%;
	margin:0 auto;
	position:relative;

}

.back-homepage {
	font-size: 2.5em;
}

.back-homepage:before {
	font-size: 1.2em;
}

.back-homepage:after {
	border: 6px solid #FFC107;
	margin-top: -8px;
}

h2,h3{
	font-size: 3em;
}

p {
	font-size: 2em;
	line-height: 1.5;
}


li{
	font-size: 1.6em;
	line-height: 2;
	white-space: pre-line;
}

.dont:before,.done:before  {
	width: 80px;
	height: 1.3em;
	margin-right: 20px;

}

a::after {
	content: "";
	display: block;
	border: 4px solid #FFC107;
	margin-top: -12px;

}


}