@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&subset=cyrillic');


body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vmax;
	line-height: 1;
	line-height: 1.9vmax;
}

a {
	text-decoration: none;
	color: #fff;
}

hr {
	width: 90%;
}

.wrap {
	width: 90vw;
	margin:0 auto;
	position:relative;
}

.button {
	color: white;
    background-color: rgba(115, 115, 115, 0.6);
	padding: .4em .8em;
}

.button:hover {
    background-color:rgb(16, 114, 191);
}

.button2 {
	padding: 0 .8em;
	font-size: .8em;
	background-color:rgb(0, 173, 251);
	color: white;
	text-align: center;
}

.button2:hover{
    background-color:rgb(16, 114, 191);
}



/*Секция 1 тут */
#section1 {
	height: 100vh;
	background: url('img/eng11.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2em;
	background-color:rgba(179, 176, 176, 0.3);
	padding: 0 1em;
	box-sizing: border-box;
}

img {
	height: 3em;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:.8em 1em;
	box-sizing: border-box;
}

.nav a:hover {
    background-color:rgb(16, 114, 191);
}

.main-text {
	text-align: center;
	width: 45%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	align-self:center;
	box-sizing: border-box;
	padding: 1em;
	background-color:rgba(93, 93, 93, 0.33);

}

.main-text:hover {
	background-color: rgba(39, 39, 39, 0.6);
}
.main-text h1 {
	font-weight: 500;
	text-transform: uppercase;
}

.main-text p {
	font-weight: 400;
	white-space: wrap;
	margin-bottom: 2em;
}






/*Секция 2 тут */
.section2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url('img/pic3.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	position: relative;
}


.section2 h2 {
	font-weight: 500;
	font-size: 2em;
	margin: 1.5em 0 0 0;
}


.programms {
	box-sizing: border-box;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-items: stretch;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	width: 100%;
}

.programm-item {
	box-sizing: border-box;
	height:20em;
	width: 20%;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 2px 2px 10px rgba(142, 142, 142, 0.2);
	background-color: rgba(255, 255, 255, 0.48);
}

.programm-item:hover {
	background-color: rgba(255, 255, 255, 0.84);
}

.programm-pic{
	height: 80%;
	width: 100%;
}

.pic1 {
	background: url('img/indiv2.jpg');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic2 {
	background: url('img/indiv.jpg');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic3 {
	background: url('img/indiv3.jpg');
	background-position:top;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic4 {
	background: url('img/indiv4.jpg');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic5 {
	background: url('img/indiv5.jpg');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}


.programm-wrapp {
	padding: .6em;
	padding-top: 0;
}
.programm-item h1 {
	font-size: 1.2em;
	text-align: center;
	font-weight: 400;
	margin: .4em 0 0 0;
}

.programm-item p{
	font-size: .8em;
	line-height: 1;
}

.price-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}



/*Секция 3 тут */

.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	padding: 1vh 0;
	padding-bottom: 5vh;
}

.section3 p {
	line-height: 1.5;
	font-size: .9em;
	white-space: pre-line;
}


.teachers-main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 1em;
}


.teacher-item {
	height: 200px;
	width: 200px;
	border: 1px solid gray;
	border-radius: 50%;
	margin: 1em;
}

.teacher1 {
	background: url('img/teacher1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.teacher2 {
	background: url('img/teacher2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.teacher3 {
	background: url('img/teacher3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.teacher4 {
	background: url('img/teacher5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.teacher-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 10px;
	background-color: rgba(222, 222, 222, 0.53);
}

.teacher-info:hover {
	box-shadow: 0px 6px 20px 3px rgba(177, 176, 176, 0.6);
}

.teacher-info h4 {
	margin: 0;
	text-align: center;
	font-size: 1em;
}

.teacher-info p {
	line-height: .8;
	font-size: .8em;
}


/*секция 4 тут*/
.section4 {
position: relative;
display: flex;
}


.contacts {	
	width: 50%;	
	background-color: rgba(237, 237, 237, 0.46);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contacts h1 {
	text-align: center;
}
.contacts h3 {
	margin-bottom: 0;
}

.contacts p {
	text-align: center;
	margin: 0;
}

.contact-icons {
	margin-top: 2em; 
}

.contact-icons img {
	height: 2em;
}