@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic');


body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #3a3a3a;
	font-family: 'Comfortaa', cursive;
	font-size: 1vmax;
	line-height: 1;
	line-height: 1.9vmax;
}

h1 {
	font-size: 25px;
}


li {
	display: inline-block;
	color: #e4e4e4;
	font-weight: 500;
	margin-left: 10px;
}

a {
	text-decoration: none;
	font-weight: 500;
}


.bottom_a{
	color: #b1b1b1;
	text-decoration: none;
	font-weight: 500;
}

.nav a:hover {
   border-bottom:2px solid rgb(16, 114, 191);
}

hr {
	width: 99%;
}

.school-name{
	color: #e4e4e4;
	font-weight: 500;
}


.button {
	color: white;
    background-color: #ff1414;
    padding: 10px 16px;
    border-radius: 4px;
}


.button2 {
	padding: 4px 16px;
	font-size: 14px;
	background-color:#1072bf4a;
	color: white;
	text-align: center;
	border-radius: 4px;
}


.button:hover,.button2:hover{
    background-color:rgb(16, 114, 191);
}



/*Секция 1 тут */
#section1 {
	height: 100vh;
	background: url('img/main1.jpg');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2em;
	background-color:rgba(179, 176, 176, 0.3);
	padding:30px;
	box-sizing: border-box;
}

img {
	height: 3em;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:.8em 1em;
	box-sizing: border-box;
}



.main-text {
	text-align: center;
	width: 45%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 1em;
	background-color: white;
	border-radius: 6px;
	box-shadow:0px 5px 20px 0px #656565;
}

.main-text h1 {
	color: #3a3a3a;
	font-weight: 600;
	text-transform: uppercase;
}

.main-text p {
	text-align: center;
	font-weight: 500;
	margin-bottom: 2em;
	white-space: pre-wrap;
}






/*Секция 2 тут */
.section2 {
	
	background-color:#22303a;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 2em;
	/*box-sizing: border-box;*/
}


.section2 h1 {
	color: #fff;
	font-weight: 500;
	font-size: 28px;
}

img {
	height: 80px;
}

.prog_title_main,.prog_title {
	color: #fff;
	text-align: center;
	font-weight: 700;

}



.programms {
	box-sizing: border-box;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	width: 100%;
}


.prog_item{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	margin-bottom: 20px;
	background-color: #313e46;
    box-shadow: 0px 0px 20px #2727275e;
    border-radius: 6px;
    padding: 14px;

}

.title_info {
	color: #b1b1b1;
	font-size: 14px;
}


/*======== Секция 3 тут ========*/

.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1vh 0;
	padding-bottom: 2em;
	height: auto;
	background-color: #fff;
	box-sizing: border-box;
}


.about_us_title{
	width: 1100px;
	text-align: left;
	white-space: pre-line;
	font-size: 18px;
	font-weight: 700;
	color: #565656;
	
}

.about_us_title h1 {
	text-align: center;
	margin-bottom: 0;
	color: black;
}





.teachers-main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 1em;
}


.teacher-item {
	height: 200px;
	width: 200px;
	border: 1px solid gray;
	border-radius: 50%;
	margin: 1em;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.teacher1 {
	background-image: url('img/teacher1.jpg');
	

}

.teacher2 {
	background-image: url('img/teacher2.jpg');
	
}

.teacher3 {
	background-image: url('img/teacher3.jpg');
	
}


.teacher4 {
	background-image: url('img/teacher5.jpg');
	
}

.teacher-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 400px;
	width: 260px;
	margin: 10px;
	background-color:rgba(202, 202, 202, 0.49);
	padding: 10px;
	box-sizing: border-box;
	border-radius: 6px;
}



.teacher-info:hover {
	box-shadow:0px 6px 20px 3px rgba(156, 156, 156, 0.6);
}

.teacher-info h4 {
	margin: 0;
	text-align: center;
	font-size: 1em;
}

.teacher_title {
	font-size: 16px;
	font-weight: 300;


}



/* ------- секция 4 тут------ */
.section4 {
	position: relative;
	display: flex;
	height: 450px;
}


.contacts {	
	width: 50%;	
	background-color:#22303a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}


.contacts h3 {
	margin-bottom: 0;
	font-weight: 400;
}

.contacts p {
	text-align: center;
	margin: 0;
	color: #b1b1b1;
	font-weight: 300;
}



/*---------- Футер тут ---------*/

.footer-wrap {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 1em;
}

footer {
	color: white;
	background-color: #2e2e2e;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;

}

.footer_menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}


.instagram,.vkontakte,.telegram {
	position: relative;
	font-weight:500;

}

.social_icon {
	color: #b1b1b1;
}

.social_icon:before {
	position: absolute;
	bottom:-5px;
	left: -40px;
}

.instagram:before {
	content: url('img/instagram.png');
	
}

.vkontakte:before {
	content: url('img/vkontakte.png');
	
}

.telegram:before {
	content: url('img/telegram.png');
	
}


.reviews {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
	padding-top: 4em;
	padding-bottom:4em;

}

.we_reviews {
	text-align: center;
	font-weight: 500;
	
}

.reviews_main {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.reviews-box {
	background-color:#fff;
	width: 350px;
	padding: 1em;
	box-sizing: border-box;
	box-shadow:-6px -6px 0px #009688, 6px 6px 0px #009688;
	margin: 1em;
}



.review-text {
	font-size: 14px;
	font-weight: 500;
}

/*-----Тут под мобильные -----*/

@media screen and (max-width: 1080px) {


	.about_us_title {
	width: 100%;
	box-sizing: border-box;
	padding:60px;
	}

	h1 {
		font-size:35px;
	}


	header {
		height: 120px;
		font-size: 30px;
	}
	
	header h1 {
		font-size: 40px;
	}

	.main-text {
		width: 82%;
		height: auto;
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main-text h1 {
		line-height: 1.5;
		margin-bottom: 0;
	}
	
	.main-text p {
		font-size: 30px;
		font-weight: 300;
		line-height: 2;
	}
	
	.button {
		font-size: 25px;
	}
	
	/*---секция 2---*/
	.section2 {
		padding: 16px;
	}

	.section2 h1 {
		text-align: center;
		line-height: 1.5;

	}
	
	.prog_title {
		font-weight: 400;
		font-size: 22px;
		margin-bottom: 0;
	}

	.title_info {
		font-size: 18px;
	}

	.prog_title_main {
		font-weight: 300;
		line-height: 1.5;
		color: #b1b1b1;
		text-align: center;
		font-size: 14px;

	}

	.prog_item {
		width: 400px;
	}

	img {
		height:140px;
	}
}